# EditorConfig — https://editorconfig.org
# ktlint 가 본 파일을 직접 읽어 코드 스타일을 결정한다.

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 140

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_standard_function-naming = disabled # @Composable 함수는 PascalCase 사용
